<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

	<title>Projeto CES-30</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form id="register-form" class="register-form">
                <input id="register-username" type="text" placeholder="username" required/>
                <input id="register-password" type="password" placeholder="senha" required/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form id="login-form" class="login-form">
                <input id="login-username" type="text" placeholder="username" required/>
                <input id="login-password" type="password" placeholder="password" required/>
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <script src="/js/login.js"></script>

</body>
</html>