<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<%- include('../commons/head_common.ejs') %>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<!-- Navigation-->
	<%- include('nav.ejs') %>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="jumbotron">
				<h1 class="display-4">Olá!</h1>
			</div>
			<div class="row">
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-file"></i>
							</div>
							<div class="mr-5">Criar Provas para Alunos</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="/coordenador/redacao/disponibilizar">
							<span class="float-left">Criar</span>
							<span class="float-right">
								<i class="fa fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-edit"></i>
							</div>
							<div class="mr-5">Delegar Provas para Corretores</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="/coordenador/redacao/delegar">
							<span class="float-left">Delegar</span>
							<span class="float-right">
								<i class="fa fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-user"></i>
							</div>
							<div class="mr-5">Consultar Corretores</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="/coordenador/corretor/visualizar">
							<span class="float-left">Consultar</span>
							<span class="float-right">
								<i class="fa fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Footers-->
		<%- include('../commons/footer_common.ejs') %>

	</div>
</body>

</html>