<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<%- include('../commons/head_common.ejs') %>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<!-- Navigation-->
	<%- include('nav.ejs') %>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="jumbotron">
				<h1 class="display-4">Olá!</h1>
			</div>
		</div>

		<!-- Footers-->
		<%- include('../commons/footer_common.ejs') %>

	</div>
</body>

</html>