<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Proposta">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseColetanea" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-archive"></i>
                        <span class="nav-link-text">Proposta</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseColetanea">
                        <li>
                            <a href="/professor/proposta/criar">Cadastrar</a>
                        </li>
                        <li>
                            <a href="/professor/proposta/visualizar">Consultar</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Prova">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseRedacao" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-folder"></i>
                        <span class="nav-link-text">Prova</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseRedacao">
                        <li>
                            <a href="/professor/prova/disponibilizar">Disponibilizar Prova</a>
                        </li>
                        <li>
                            <a href="/professor/prova/disponibilizadas">Provas Disponibilizadas</a>
                        </li>
                        <li>
                            <a href="/professor/prova/correcao/finalizada">Já Corrigidas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Análise">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAnalises" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Análise</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseAnalises">
                        <li>
                            <a href="/professor/metrica/nota/media">Nota Média</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Aluno">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAluno" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Aluno</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseAluno">
                        <li>
                            <a href="/professor/aluno/visualizar">Consultar</a>
                        </li>
                        <li>
                            <a href="/professor/turma/visualizar">Turmas</a>
                        </li>
                        <li>
                            <a href="/professor/aluno/criar">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Critério">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCriterio" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-edit"></i>
                        <span class="nav-link-text">Critério</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseCriterio">
                        <li>
                            <a href="/professor/categoria/criar">Nova Categoria</a>
                        </li>
                        <li>
                            <a href="/professor/criterio/criar">Cadastrar</a>
                        </li>
                        <li>
                            <a href="/professor/criterio/visualizar">Consultar</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out"></i>Sair
                    </a>
                </li>
            </ul>
        </div>
    </nav>